.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;
    --search-button--right: 52px;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
}
.content {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-top: 60px;
}
.actions {
    display: flex;
    align-items: center;
}
.more-btn {
    margin-left: 40px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-color: var(--white);
    align-items: center;
    display: inline-flex;
    padding: 4px 8px;
    cursor: pointer;
}
.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 8px;
    color: #161823;
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}
.notification {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 1.5%;
    margin-left: -1rem;
}
